---
// Assets Imports - Info
import { contacts } from '../../constants/index'

// Assets Imoports - Icons & buttons
import { Instagram, MapPin, Mail, Phone, Rss } from 'lucide-react'
import { buttonVariants } from '../ui/button'

// Translation Imports
import { getLangFromUrl } from '../../i18n/utils'
const lang = getLangFromUrl(Astro.url)
---

<footer class="border-t py-6 md:px-8 md:py-0">
  <div
    class="container flex flex-col items-center justify-between gap-4 md:h-20 md:flex-row"
  >
    <p
      class="text-center text-sm leading-loose text-muted-foreground md:text-left"
    >
      Copyright © 2022 Nano Fighters
    </p>

    <!-- Contact Link List -->
    <ul class="flex gap-2">
      {
        contacts.map(({ label, link }) => {
          // Function to get a Lucide Icon acording to the label
          function getIcon() {
            switch (label[lang]) {
              case 'Telefono':
                return (
                  <Phone color="hsl(var(--muted-foreground))" client:visible />
                )
              case 'Cellphone':
                return (
                  <Phone color="hsl(var(--muted-foreground))" client:visible />
                )
              case 'Email':
                return (
                  <Mail color="hsl(var(--muted-foreground))" client:visible />
                )
              case 'Mail':
                return (
                  <Mail color="hsl(var(--muted-foreground))" client:visible />
                )
              case 'Zona':
                return (
                  <MapPin color="hsl(var(--muted-foreground))" client:visible />
                )
              case 'Location':
                return (
                  <MapPin color="hsl(var(--muted-foreground))" client:visible />
                )
              case 'Instagram':
                return (
                  <Instagram
                    color="hsl(var(--muted-foreground))"
                    client:visible
                  />
                )
              default:
                return <div />
            }
          }

          return (
            <li>
              <a
                title={`Link - ${label}`}
                href={link}
                target="_blank"
                rel="noreferrer noopener"
                class={buttonVariants({ variant: 'ghost', size: 'icon' })}
              >
                {getIcon()}
                <span class="sr-only">{`${label} Link`}</span>
              </a>
            </li>
          )
        })
      }

      <!-- RSS Link -->
      <li>
        <a
          title="RSS Link"
          href="https://www.nanofighters.club/rss.xml"
          target="_blank"
          rel="noreferrer noopener"
          class={buttonVariants({ variant: 'ghost', size: 'icon' })}
          ><Rss color="hsl(var(--muted-foreground))" client:visible /><span
            class="sr-only">Rss Link</span
          ></a
        >
      </li>
    </ul>
  </div>
</footer>
