---
// Props Types
type Props = {
  title: string
  subtitle: string
}

// Astro Props
const { title, subtitle } = Astro.props

// Splitting the title for the Header
const sliceTitle = title.split(' ')
---

<div class="w-fit px-10">
  <p class="text-xs uppercase text-accent md:text-base">
    {subtitle}
  </p>
  <h2
    class="mt-2 text-3xl font-bold leading-tight tracking-tighter md:text-5xl"
  >
    {sliceTitle[0]}{' '}
    <span class="text-muted-foreground">{sliceTitle[1]}</span>
  </h2>
</div>
