---
// import Astro - Components & Globals
import BaseLayout from '../../../layouts/BaseLayout.astro'
import BlogCard from '../../../components/blog/BlogCard.astro'
import BlogHeader from '../../../components/blog/BlogHeader.astro'
import { type CollectionEntry } from 'astro:content'

// Import Utils
import { getPosts } from '../../../lib/fetchers'

// Translation Imports
import { getLangFromUrl } from '../../../i18n/utils'
const lang = getLangFromUrl(Astro.url)

// Get all Posts
const posts: CollectionEntry<'blog'> = await getPosts(lang)

// create static page instead of SSR
export const prerender = true
---

<BaseLayout
  title="NFC Blog"
  description="Articulos actualizados sobre bienestar, deportes de combate y mucho mas"
>
  <section class="mx-auto max-w-[1680px] px-5">
    <BlogHeader title="NFC Blog" subtitle="Deleitate con los articulos de" />
    <!-- Posts card Lists -->
    <div
      class="lg:gap mb-5 grid grid-cols-1 gap-x-6 gap-y-9 px-5 md:grid-cols-2 md:gap-y-11 md:px-0 lg:grid-cols-3 lg:gap-x-8"
    >
      {posts.map((post) => <BlogCard post={post} />)}
    </div>
  </section>
</BaseLayout>
