---
// Assets Imports - Info
import nano from '../assets/nano.jpg'
import { stats } from '../constants/index'

// Astro Imports - Globals
import { Image } from 'astro:assets'
---

<section
  class="flex flex-col items-center gap-10 overflow-x-hidden bg-gradient-to-b from-background to-primary/10 pt-10 dark:to-primary/5 md:pt-10"
  id="acerca"
>
  <div
    class="flex w-full max-w-[1680px] animate-marquee items-center justify-between gap-3 px-5 md:animate-none md:gap-0"
  >
  <!-- Stats List marque in mobile -->
    {
      stats.map((stat) => (
        <div class="flex w-auto gap-3">
          <h6 class="text-5xl text-accent">{stat.number}</h6>
          <p class="text-text/80 flex-wrap" set:html={stat.text} />
        </div>
      ))
    }
  </div>
  <hr class="h-2 w-full" />
  <div
    class="flex max-w-[1280px] flex-col items-center justify-center gap-10 py-10 md:flex-row md:px-0 px-5"
  >
<!-- Image and Info -->
    <Image
      src={nano}
      alt="Foto de perfil de Big Nano Coach"
      class="rounded-xl"
      height={400}
      width={400}
    />
    <div class="px-10 md:p-0">
      <p class="text-xs uppercase text-accent md:text-base">
        conoce a nuestro entrenador
      </p>
      <h4
        class="mt-2 text-3xl font-bold leading-tight tracking-tighter md:text-5xl"
      >
        Adrian <span class="text-muted-foreground">"Nano"</span> Alvarez
      </h4>
      <p class="text-text/80 mt-2 text-sm md:mt-5 md:text-base">
        Originario de Cuba, mi trayectoria en los deportes de combate comenzó a
        una edad temprana. Empecé a boxear a los 10 años, a practicar kickboxing
        a los 18 y finalmente me adentré en las MMA a los 22 años. Como
        entrenador de alto rendimiento de la Federación de Judo-Kickboxing, he
        tenido el privilegio de guiar a los atletas hacia el máximo rendimiento.
        En el camino, competí en varios torneos de nivel junior, alimentando mi
        pasión por el deporte. Con más de una década de experiencia en entrenamiento 
        personalizado, me dedico a ayudar a las personas a liberar todo su potencial 
        en los deportes de combate y más allá. entrenando a domicilio o en area libre en hermosa Marbella
      </p>
    </div>
  </div>
  <hr class="h-2 w-full" />
</section>
