---
// Translation Imports
import { getLangFromUrl, useTranslations } from '../i18n/utils'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section
  class="flex flex-col items-center gap-10 overflow-x-hidden bg-primary/10 pt-8 md:pt-10"
  id="acerca"
>
  <hr class="h-2 w-full" />
</section>
