---
// Assets Imoports - Icons & buttons 
import { Instagram, MapPin, Mail, Phone } from 'lucide-react'
import { buttonVariants } from './ui/button'
---

<footer class="border-t py-6 md:px-8 md:py-0">
  <div
    class="container flex flex-col items-center justify-between gap-4 md:h-20 md:flex-row"
  >
    <p
      class="text-center text-sm leading-loose text-muted-foreground md:text-left"
    >
      Copyright © 2022 Nano Fighters
    </p>
    <ul class="flex gap-2">
      <li>
        <a
          href="http://www.instagram.com/big_nano_coach"
          target="_blank"
          rel="noreferrer noopener"
          class={buttonVariants({ variant: 'ghost', size: 'icon' })}
          ><Instagram
            color="hsl(var(--muted-foreground))"
            client:visible
          /><span class="sr-only">Instagram Link</span></a
        >
      </li>
      <li>
        <a
          href="https://maps.app.goo.gl/gGpA3JwSkiR3H8RK6"
          target="_blank"
          rel="noreferrer noopener"
          class={buttonVariants({ variant: 'ghost', size: 'icon' })}
          ><MapPin color="hsl(var(--muted-foreground))" client:visible /><span
            class="sr-only">Google Maps Link</span
          ></a
        >
      </li>
      <li>
        <a
          href="mailto:nanofitnessclub@gamil.com"
          target="_blank"
          rel="noreferrer noopener"
          class={buttonVariants({ variant: 'ghost', size: 'icon' })}
          ><Mail color="hsl(var(--muted-foreground))" client:visible /><span
            class="sr-only">Gmail Link</span
          ></a
        >
      </li>
      <li>
        <a
          href="https://wa.me/34647317214"
          target="_blank"
          rel="noreferrer noopener"
          class={buttonVariants({ variant: 'ghost', size: 'icon' })}
          ><Phone color="hsl(var(--muted-foreground))" client:visible /><span
            class="sr-only">Phone Number Link</span
          ></a
        >
      </li>
    </ul>
  </div>
</footer>
