---
// Translation Imports
import { getLangFromUrl, useTranslations } from '../i18n/utils'

// Assets Imports - Images
import boxingGloves from '../assets/boxingGloves.png'

// Astro Imports - Globals
import { Image } from 'astro:assets'

// React imports - Components
import { FormDialog } from '../components/react/FormDialog'
import { buttonVariants } from './ui/button'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<section class="container flex items-center gap-6 pb-8 pt-16 md:pt-0">
  <div class="flex max-w-[980px] flex-col items-start gap-5">
    <h1
      class="text-5xl font-extrabold leading-tight tracking-tighter md:text-9xl"
    >
      Nano <span class="text-accent">Fighters</span> Club
    </h1>
    <p class="max-w-[700px] text-lg text-muted-foreground">
      {t('hero-description')}
    </p>
    <div class="mt-3 flex items-center justify-center gap-5">
      <FormDialog client:visible text={t('dialog-text')} lang={lang} />
      <a
        onclick="freeClassClick()"
        href={`${Astro.url}booking`}
        class={`${buttonVariants({
          variant: 'blog',
        })} cursor-pointer animate-pulse`}
        >{lang === 'es' ? 'Clase Gratis' : 'Free Class'}</a
      >
    </div>
  </div>
  <div class="gradient hidden aspect-square w-1/2 md:block">
    <Image
      src={boxingGloves}
      alt="Fotografia de unos guantes de boxeo rojos"
      loading="eager"
    />
  </div>
</section>

<!-- Specific style fo the gradient behind the Gloves -->
<style>
  .gradient {
    background: radial-gradient(
      300px circle,
      rgba(220, 9, 9, 0.342),
      transparent 80%
    );
  }
</style>

<script
  type="text/partytown"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-FM93CYH0GQ"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || []
  function gtag() {
    dataLayer.push(arguments)
  }
  gtag('js', new Date())
  gtag('config', 'G-FM93CYH0GQ')

  function freeClassClick() {
    gtag('event', 'free_class_click', {
      time: date,
    })
  }
</script>
