---
// Astro Imports - Globals
import { Image } from 'astro:assets'

interface Props {
  title: string
  description: string
  image: ImageMetadata
  info: string[]
  precio: string
}

const { title, description, image } = Astro.props
---

<div class="flex w-full flex-col items-center justify-center gap-5">
  <Image
    src={image}
    alt={`una fotografia de un entrenamiento de ${title}`}
    class="object-fill"
    height={250}
  />
  <div class="space-y-5">
    <h4 class="text-bold text-2xl font-semibold leading-none tracking-tight">
      {title}
    </h4>
    <p class="text-muted-foreground">{description}</p>
  </div>
</div>
