---
// Astro Imports - Globals
import { Image } from 'astro:assets'

// Props interface
interface Props {
  title: string
  description: {
    es: string
    en: string
  }
  image: ImageMetadata
  info: string[]
  precio: string
}

// Translation Imports
import { getLangFromUrl } from '../i18n/utils'
const lang = getLangFromUrl(Astro.url)

// Astro Props
const { title, description, image } = Astro.props
---

<div class="flex w-full flex-col items-center justify-center gap-5">
  <Image
    src={image}
    alt={`una fotografia de un entrenamiento de ${title}`}
    class="object-fill"
    height={250}
  />
  <div class="space-y-5">
    <h2 class="text-bold text-2xl font-semibold leading-none tracking-tight">
      {title}
    </h2>
    <p class="text-muted-foreground">{description[lang]}</p>
  </div>
</div>
